---
import "../styles/style.css";
import Navigation from "../components/Navigation.astro";
import HeaderIntro from "../components/HeaderIntro.astro";
import SectionIntro from "../components/SectionIntro.astro";
import AdvantagesBox from "../components/AdvantagesBox.astro";
import Citation from "../components/Citation.astro";
import SectionGuide from "../components/SectionGuide.astro";
import Rating from "../components/Rating.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Bliv frivillig rådgiver i Pårørende Netværk og gør en forskel for pårørende til misbrugere. Få meningsfuldt arbejde, udvikl dine færdigheder og bliv en del af et stærkt fællesskab. Læs mere og ansøg i dag!" />
    <title>Bliv frivillig</title>
    <link rel="stylesheet" href="https://use.typekit.net/dtm7vhs.css" />
  </head>

  <body>
    <Navigation />
    <HeaderIntro title="Bliv frivillig rådgiver" img="./puzzle.webp" intro="Gør en forskel for pårørende i svære tider. Bliv en del af et stærkt fællesskab, hvor du kan hjælpe andre ved skabe tryghed og støtte." />
    <SectionIntro title="At være frivillig i Pårørende Netværket" text1="Pårørende Netværket - Misbrugsportalen søger engagerede frivillige rådgivere til at støtte mennesker med misbrugsrelaterede udfordringer, uanset om det drejer sig om alkohol-, stof- eller medicinmisbrug." text2="Som frivillig bliver du en del af et varmt og fagligt stærkt fællesskab bestående af professionelle fra social- og sundhedsområdet, terapeuter, tidligere pårørende og misbrugskonsulenter. Uanset hvor i landet du bor, kan du være med, da vores tilbud er landsdækkende, og al intern kommunikation foregår online - dog med et nærværende og støttende fællesskab." img="./volunteer.webp" img_mobil="./volunteer_mobil.webp" />
    <AdvantagesBox title="Gode grunde til at være frivillig" />
    <Citation apo="./img/apo_medium.svg" text="En fin samtale og enorm dygtig rådgiver. Føler mig så heldig, at jeg har fået ham. Der er efter min erfaring stor mangel på støtte og hjælp til pårørende og især i det her område, hvor jeg bor." />
    <SectionGuide />
    <Rating title="Frivillige" title_2="Fortællinger" />
    <Footer />
  </body>
</html>
