---
import "../styles/style.css";
import Navigation from "../components/Navigation.astro";
import Header from "../components/Header.astro";
import SectionIntro from "../components/SectionIntro.astro";
import AdvantagesBox from "../components/AdvantagesBox.astro";
import Citation from "../components/Citation.astro";
import SectionGuide from "../components/SectionGuide.astro";
import Rating from "../components/Rating.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Bliv frivillig rådgiver i Pårørende Netværk og gør en forskel for pårørende til misbrugere. Få meningsfuldt arbejde, udvikl dine færdigheder og bliv en del af et stærkt fællesskab. Læs mere og ansøg i dag!">
  <title>Bliv frivillig</title>
  <link rel="stylesheet" href="https://use.typekit.net/dtm7vhs.css">

</head>

<body>
	<Navigation />
  <Header></Header>
  <SectionIntro></SectionIntro>
  <AdvantagesBox title="Gode grunde til at være frivillig"></AdvantagesBox>
  <Citation text="En fin samtale og enorm dygtig rådgiver. Føler mig så heldig, at jeg har fået ham. Der er efter min erfaring stor mangel på støtte og hjælp til pårørende og især i det her område, hvor jeg bor."></Citation>
  <img class="woman" src="public/woman.svg" alt="Illustration">
  <SectionGuide></SectionGuide>
  <Rating title="Frivillige" title_2="Fortællinger"></Rating>
  <Footer />
</body>
</html>