---
const {icon, subtitle, text} = Astro.props;
---

<section>
    <img src=`${icon}` alt="Icon">
    <h2>{subtitle}</h2>
    <p>{text}</p>
</section>

<style>
    img {
        height: 85px;
        width: 85px;
    }
</style>