---
const {goto, text, variant} = Astro.props;
---

<a href=`${goto}` class={variant}>{text}</a>

<style>
    a {
        position: absolute;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        padding: 12px;
        border-radius: 26px;
        right: 250px;
    }

    .dark {
        color: var(--light-grey);
        background-color: var(--dark-turquoise);
        transition: 1s ease;
    }

    .light {
        color: var(--light-grey);
        background-color: var(--turquoise);
        transition: 1s ease;
    }

    .dark:hover,.light:hover {
        background-color: var(--orange);
        transition: 1s ease;
    }
</style>