---
import Button from "./Button.astro";
const {text} = Astro.props;
---

<section>
    <h1 class="quotation">"</h1>
    <p>{text}</p>
    <Button variant="light" goto="https://www.misbrugsportalen.dk" text="LÆS MERE" />
</section>

<style>
    section {
        position: relative;
        background-color: var(--dark-turquoise);
        border-radius: 5px;
        padding: 80px 0;
        margin-top: 190px;
        color: var(--light-grey);
    }
    .quotation {
        color: var(--turquoise);
        position: absolute;
        left: 11px;
        font-size: 5rem;
        top: 40px;
    }
    p {
        padding: var(--with);
    }

    @media (min-width: 900px) {
        p {
        padding-right: 250px;
    }
}

    /* Button {
        right: 20px;
    } */
</style>

