---
import Button from "./Button.astro";
const {text} = Astro.props;
---

<section>
    <h1 class="quotation">"</h1>
    <p>{text}</p>
    <Button variant="light" text="LÆS MERE" />
</section>

<style>
    section {
        position: relative;
        background-color: var(--dark-turquoise);
        border-radius: 5px;
        padding: 100px 0;
        color: var(--light-grey);
    }
    .quotation {
        color: var(--turquoise);
        position: absolute;
        left: 10px;
        font-size: 3rem;
    }
    p {
        padding: var(--with);
    }
</style>

