---
import Button from "./Button.astro";
const { text, apo } = Astro.props;
---

<section class="gap">
  <div class="citat">
    <img src=`${apo}` alt="Apostrophe" class="quotation" />
    <p>{text}</p>
    <Button variant="light" goto="https://www.misbrugsportalen.dk" text="LÆS MERE" />
  </div>
  <img class="woman" src="public/woman.svg" alt="Illustration" />
</section>

<style>
  .citat {
    position: relative;
    background-color: var(--dark-turquoise);
    border-radius: 8px;
    padding: 80px 0;
    margin: 20px;
    color: var(--light-grey);
  }
  .quotation {
    color: var(--turquoise);
    position: absolute;
    left: 44px;
    top: 25px;
    height: 4rem;
    width: 3rem;
  }
  p {
    padding: 30px;
    padding-left: 60px;
  }

  .woman {
    display: none;
  }

  @media (min-width: 900px) {
    .quotation {
      top: 70px;
    }
    p {
      font-size: 1.7rem;
      line-height: 34px;
      padding-right: 190px;
      padding-left: 108px;
    }

    section {
      position: relative;
      padding: 80px 0;
      margin: var(--with);
    }

    .woman {
      position: absolute;
      display: block;
      width: 210px;
      right: 0;
      top: -70px;
    }
  }
</style>
